<h1>Workplace by Dell</h1>

<%if(error && error.length>0){%>
    <p><%=error%></p>
<%}%>

<%if(success && success.length>0){%>
    <p><%=success%></p>
<%}%>

<div><a href="/secret">secret</a></div>
<div><a href="/login">Login</a></div>
<div><a href="/register">Register</a></div>
<div><a href="/logout">Logout</a></div>